{% extends "base.html" %}

{% block content %}
    <h1 class="page-title"><i class="bi-joystick"></i>&ensp;Testing</h1>
    <div class="button-container">
        <button>
            <span>Add Dataset</span>
            <i class="bi-plus-circle"></i>
        </button>
        <button class="btn-success">
            <i class="bi-1-circle"></i>
            <span>Success Button</span>
        </button>
        <button class="btn-warning">
            <i class="bi-2-circle"></i>
            <span>Warning Button</span>
        </button>
        <button class="btn-danger">
            <i class="bi-3-circle"></i>
            <span>Danger Button</span>
        </button>
        <button class="btn-dark">
            <i class="bi-4-circle"></i>
            <span>Dark Button</span>
        </button>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet aperiam cupiditate distinctio est eum harum, magnam molestias odit quisquam quo repellendus rerum sed sunt, tenetur totam voluptatibus. Adipisci amet asperiores, aut impedit mollitia nam nemo provident quod veniam vero, vitae voluptas, voluptate. Animi aspernatur cupiditate debitis ea hic, labore, numquam, quasi quo ratione rem tenetur veritatis? A doloribus, eaque facilis laboriosam maxime molestias obcaecati odio quia quibusdam repellendus saepe, sequi tempora voluptates! Accusantium alias aspernatur commodi dolore dolores earum est et harum ipsa odit, quam reprehenderit sequi sint temporibus unde, veniam voluptatem? Consequuntur error impedit modi molestiae unde ut!
    </p>
{% endblock %}